.header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 5;
    color: grey;
}

.spisok{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    color: grey;
}

.spisok-scrolled{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    color: black;
}

.background{
    background: #F5F5F5;
}

.background32{
    background: red;
    width: 100%;
    height: 810px;

}

.header-scrolled{
    background:#C0C0C0;
    width: 100%;
    height: 80px;
    position: fixed;
    color: black;
    z-index: 5;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 700px;
    width: 990px;
}

.ava{
    height: 600px;
    width: 450px;
}

.wish{
    width: 100%;
    background: white;
}

.colon-wish{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px;
    padding: 30px;
    padding-left: 220px;
    padding-right: 220px;
}

.div-wish{
    display:flex;
    gap: 30px;
}

.text-wish{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: xx-large;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    gap: 50px;
}

.ret{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.picture{
    height: 100px;
    width: 80px;
}

.picture1{
    height: 100px;
    width: 100px;
}
.picture2{
    height: 70px;
    width: 70px;
}

.connect{
    display: flex;
    justify-content: space-between;
    padding-top:70px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 70px;
}

.connect-div{
    display: flex;
    gap: 30px;
}

.purpose{
    display: flex;
    padding-top: 80px;
    gap: 30px;
    padding-left: 90px;
    color: white;
    font-size: x-large;
}

.purpose p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name{
    font-size: xx-large;
}

.work{
    font-size: large;
}